.contacto-container{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 50px 20px;
} 

.contacto-title{
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 120px 1fr ;
  align-items: center;
  justify-items: center;
}

.contacto_ul{
  padding: 0;
}

.contacto_li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 15px 20px;
}

.contacto_li:first-child{
  border: 1px solid rgb(32, 32, 32);
  background-color: transparent;
  color: black;
}

.contacto-dot{
  font-size: 25px;
}

.texto-container{
  text-align: center;
}



.iframe{
  border: 0;
  max-width: 400px;
  /* margin: 0 22px; */
}


.call{
  /* text-decoration: none; */
  color: white;
}


@media screen and (min-width:768px) {

  .contacto_texto{
    padding-left: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    }

  .contacto-container{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width:1024px) {
  .container-ul{
    flex-direction: column;
    gap: 15px;
  }

  .contacto_map{
    width: 100%;
    grid-row-start: 1;
    padding: 25px 0;
  }

  .contacto-container{
    padding-top: 0;
  }

}