.galeria{
padding: 40px 22px;
}

.galeria-title{
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 110px 1fr ;
  align-items: center;
  justify-items: center;
}

.galeria_title{
  width: fit-content;
}

.line{
  width: 100%;
  height: 1px;
  border-top: 1px solid black;
}

.galeria-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: minmax(250px,auto);
  gap: 15px;
  max-width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

.galeria_item-container{
  overflow: hidden;
}
.galeria-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.galeria-item:nth-child(1){
  background-image: url(https://i.ibb.co/6016PSd/1.webp);
}

.galeria_item-container:nth-child(2)>.galeria-item{
  background-image: url(https://i.ibb.co/SX0PFW8/2.webp);
}

.galeria_item-container:nth-child(3)>.galeria-item{
  background-image: url(https://i.ibb.co/FhFmdJ1/fondo.webp);
}

.galeria_item-container:nth-child(4)>.galeria-item{
  background-image: url(https://i.ibb.co/L84N8V2/4.webp);
}

.galeria_item-container:nth-child(5)>.galeria-item{
  background-image: url(https://i.ibb.co/f9ZSrqn/5.webp);
}

.galeria_item-container:nth-child(6)>.galeria-item{
  background-image: url(https://i.ibb.co/Fh0bfFh/6.webp);
}

.galeria_item-container:nth-child(7)>.galeria-item{
  background-image: url(https://i.ibb.co/FBPSKCw/7.webp);
}

.galeria_item-container:nth-child(8)>.galeria-item{
  background-image: url(https://i.ibb.co/RYR9KYt/8.webp);
}

.galeria_item-container:nth-child(9)>.galeria-item{
  background-image: url(https://i.ibb.co/MSnT1QH/9.webp);
}

.galeria_item-container:nth-child(10)>.galeria-item{
  background-image: url(https://i.ibb.co/qn51y2C/10.webp);
}
.galeria_item-container:nth-child(11)>.galeria-item{
  background-image: url(https://i.ibb.co/k2kzxSJ/11.webp);
}
.galeria_item-container:nth-child(12)>.galeria-item{
  background-image: url(https://i.ibb.co/d0mSm6C/12.webp);
}
.galeria_item-container:nth-child(13)>.galeria-item{
  background-image: url(https://i.ibb.co/BCMgfyf/13.webp);
}
.galeria_item-container:nth-child(14)>.galeria-item{
  background-image: url(https://i.ibb.co/xggxZP2/14.webp);
}
.galeria_item-container:nth-child(15)>.galeria-item{
  background-image: url(https://i.ibb.co/3kdvJYP/15.webp);
}

@media screen and (min-width:768px) {
  .galeria-item{
    transition: all 1s;
  }

  .galeria-item:hover{
    transform: scale(1.1);
  }
}