*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  /* overflow-x: hidden; */
}

.App{
  background-color: whitesmoke;
  /* font-family: 'Poppins', sans-serif; */
}

.servicios{
  max-width: 1440px;
  margin: 0 auto ;
  /* overflow: hidden; */
}

.about,.galeria,.contacto{
  max-width: 850px;
  margin: 0 auto;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.container-texto{
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  padding: 60px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

@media screen and (min-width:768px){
  .container-section{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 640px;
  }

  .container-texto{
    padding: 120px 22px;
  }
  

}